{% extends "layout.html" %}

{% block title %}
    Add password
{% endblock %}

{% block main %}
    <div class="border rounded m-auto p-5 " style="border: #ccc;">
        <form action="/add-password" method="post">
            <div class="form-group py-1">
                <input class="form-control" autocomplete="off" name="website" placeholder="Website" type="text">
            </div>
            <div class="form-group py-1">
                <input class="form-control" autocomplete="off" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group py-1">
                <input class="form-control" autocomplete="off" name="password" placeholder="Password" type="password">
            </div>
            <div class="d-grid py-2">
                <button class="btn btn-primary mx-2" type="submit">Add Password</button>
            </div>
        </form>
    </div>


{% endblock %}