{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
        <div class="border rounded m-auto" style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; border: #ccc; padding: 20px; max-width: 600px;">
            <p>
                Welcome to Password Manager where you can securely store your passwords, all protected by a master password.
            </p>
            <p>
                You can view your password vault to check the passwords you have saved, as well as delete or edit them. If you make changes to a password, the password manager will encrypt the new password and send it to the database.
            </p>
            <p>
                In addition, you can change your master password anytime, ensuring that you keep your account safe and secure. This password manager is an easy-to-use and reliable solution that makes managing your passwords effortless and worry-free.
            </p>
            <div class="m-4">
                <a href="/add-password" class="btn btn-primary m-3 px-5">Add Password</a>
                <a href="/passwords-vault" class="btn btn-success m-3 px-5">Passwords Vault</a>
            </div>
        </div>

{% endblock %}
