{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="vstack">
        <form action="/register" method="post" class="border rounded m-auto p-5" style="border: #ccc;">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Password (again)" type="password">
            </div>
            <div class="d-grid">
                <button class="btn btn-primary px-5" type="submit">Register</button>
            </div>
        </form>
        <p class=""><strong>ATTENTION: Password must have at least 8 characters, one uppercase letter, one lowercase letter, one digit, and one symbol.</strong></p>
    </div>
{% endblock %}
